@import b3.horizontal.fieldConstructor
@import views.html.helper.CSRF
@(section: Section, post: Post, form: play.data.Form[Comment])(implicit request: play.mvc.Http.Request, messages: Messages)

@implicitFieldConstructor = @{ b3.horizontal.fieldConstructor("col-sm-4", "col-sm-8") }

@front.main(section) {

    @if(post.published) {
        <div class="well">
            <h2><small class="pull-right" title="Posted">@post.posted.format("yyyy-MM-dd")</small>@post.title</h2>
            <div class="clearfix"></div>
            <div>@Html(post.content)</div>
            @if(post.comments.size() > 0) {
                <div class="clearfix"></div><br/>
                <h5>Comments</h5>
                <div class="list-group">
                    @for(c <- post.comments) {
                        <div class="list-group-item">
                            <h4 class="list-group-item-heading">@c.name</h4>
                            <p class="list-group-item-text">@c.content</p>
                        </div>
                    }
                </div>
            }
            <div class="col-md-6">
                <fieldset>
                    <legend>Leave a message</legend>

                    @b3.form(CSRF(routes.FrontController.saveComment(section.alias, post.id))) {
                        @b3.text( form("name"), '_label -> "Name", 'placeholder -> "Your name" )
                        @b3.textarea( form("content"), '_label -> "Message")
                        @b3.submit('class -> "btn btn-default"){ Submit }
                    }

                </fieldset>
            </div>
            <div class="clearfix"></div>
        </div>
        <a class="btn btn-link" href="@routes.FrontController.section(section.alias)"><span class="glyphicon glyphicon-folder-open"></span> Back to <strong>@section.name</strong></a>
    }

}
