@import models.view.DependenciesContainer
@import views.html.helper.CSRF
@(dc: DependenciesContainer, sectionID: Integer, form: play.data.Form[Section])(implicit request: play.mvc.Http.Request, messages: Messages)

@implicitFieldConstructor = @{ b3.horizontal.fieldConstructor("col-sm-4", "col-sm-8") }

@*
* Call the `main` template with one argument, that represents
* global template variables.
*@
@admin.main(dc) {
    <div class="clearfix page-header">
        <h3>@dc.title</h3>
    </div>

    <div class="col-md-10 well">
        <fieldset>
            <legend>Section form</legend>

            @b3.form(CSRF(routes.AdminSectionsController.save(sectionID))) {
                @b3.text( form("name"), '_label -> "Name", 'placeholder -> "Section name" )
                @b3.text( form("alias"), '_label -> "Alias", 'placeholder -> "URL alias" )
                @b3.submit('class -> "btn btn-default"){ Save }
            }

        </fieldset>
    </div>
}