@import models.view.DependenciesContainer
@(dc: DependenciesContainer, users: java.util.List[User], csrf: String)(implicit request: play.mvc.Http.Request, messages: Messages)

@*
* Call the `main` template with one argument, that represents
* global template variables.
*@
@admin.main(dc) {

    <div class="clearfix page-header">
        <h3>@dc.title</h3>
    </div>

    <div class="btnContainer">
        <a class="btn btn-primary" href="@routes.AdminUsersController.user(0)"><span class="glyphicon glyphicon-plus-sign"></span>New user</a>
    </div>

    <table class="table table-striped table-hover withPadding">
        <thead>
            <tr>
                <th>Name</th>
                <th>E-mail</th>
                <th><!-- --></th>
            </tr>
        </thead>
        <tbody id="tableUsers">
            @for(u <- users) {
                <tr id="section-@u.id">
                    <td class="name"><strong>@u.name</strong></td>
                    <td>@u.email</td>
                    <td>
                        <div class="tableBtnContainer">
                            <a class="btn btn-sm btn-default glyphicon glyphicon-wrench" data-item-edit data-item-id="@u.id" title="Update" data-toggle="tooltip" data-placement="bottom" href="@routes.AdminUsersController.user(u.id)"></a>
                            <a href="#" data-href="@routes.AdminUsersController.remove(u.id)?csrfToken=@csrf" class="btn btn-sm btn-danger glyphicon glyphicon-trash" data-item-delete="@u.id" data-name="@u.name <@u.email>" title="Remove" data-toggle="tooltip" data-placement="bottom"></a>
                        </div>
                    </td>
                </tr>
            }
    </table>

    <div class="btnBottomContainer">
        <span>Users count: <strong>@users.size()</strong></span>
    </div>
}

<script>
        jQuery(document).ready(function($) {
            var $table = $('#tableUsers');
            $table.on('click', 'a[data-item-delete]', function (event) {
                event.preventDefault();
                var name = $(this).attr('data-name');
                var location = $(this).attr("data-href");
                $.my.confirmDialogWC(
                        'confirm',
                        'danger',
                        'Confirmation',
                        'Do you really want to remove user "<strong>' + name + '</strong>"?',
                        'storno',
                        function () {
                            window.location.replace(location);
                        }
                );
            });
        });
</script>